{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/amenities.css' %}">

{% block content %}
<!-- Header -->
<div class="container-fluid p-0">
    <div style="background-color: #0078A0; padding: 2rem;">
        <h2 class="marina-name text-center">Marina Amenities</h2>
    </div>
</div>

<br>
<div class="container text-center">
    <h1>Here To Serve You</h1>
    <p>The Harborage at Ashley Marina is located on the downtown Charleston, SC peninsula within walking distance to nearby historical sites, restaurants, and shops. It is the perfect location to dock your vessel whether temporarily or long-term. The Harborage at Ashley Marina accommodates vessels up to 120 feet in length with approximately 230 slips conveniently located north of the James Island Expressway on the Ashley River offering shelter from strong winds and seas. So, whether an investor, owner, transient, boat or yacht enthusiast you will be made to feel at home here at The Harborage at Ashley Marina!</p>
</div>
<br>
<div class="amenities">
    <h1 style="padding-left: 20px;">Amenities We Offer</h1>
    <div class="amenities-box">   

        <div class="grid-item image-item">
            <div class="caption-top">Parking</div>

            <img src="{% static 'home/images/amenities/parking.jpg' %}" alt="parking">
        </div>


        <div class="grid-item image-item">
            <div class="caption-top">Security Gate</div>

            <img src="{% static 'home/images/amenities/SecurityGate.jpg' %}" alt="gate">
        </div>

        <div class="grid-item image-item">
            <div class="caption-top">Pump Out</div>

            <img src="{% static 'home/images/amenities/pumpOut.jpg' %}" alt="pumpout">
        </div>


        <div class="grid-item image-item">
            <div class="caption-top">Wifi</div>

            <img src="{% static 'home/images/amenities/wifi.png' %}" alt="wifi">
        </div>

        <div class="grid-item image-item">
            <div class="caption-top">Fuel</div>

            <img src="{% static 'home/images/amenities/fuel.jpg' %}" alt="fuel">
        </div>
    
        <div class="grid-item image-item">
            <div class="caption-top">Laundry</div>

            <img src="{% static 'home/images/amenities/Laundry.jpg' %}" alt="laundry">
        </div>


               <div class="grid-item image-item">
            <div class="caption-top">Shower</div>

            <img src="{% static 'home/images/amenities/shower.jpeg' %}" alt="bathroom">
        </div>

        <div class="grid-item image-item">
            <div class="caption-top">Bathroom</div>

            <img src="{% static 'home/images/amenities/bathroom.jpeg' %}" alt="shower">
        </div>

        <div class="grid-item image-item">
            <div class="caption-top">Dock Carts</div>

            <img src="{% static 'home/images/amenities/dockCarts.jpg' %}" alt="dock carts">
        </div>
        

        <div class="grid-item image-item">
            <div class="caption-top">Utilities</div>

            <img src="{% static 'home/images/amenities/utilities.jpg' %}" alt="bathroom">
        </div>
        
        <div class="grid-item image-item">
            <div class="caption-top">Fish Cleaning Station</div>

            <img src="{% static 'home/images/amenities/fishCleaningStation.jpg' %}" alt="fish cleaning">
        </div>
    
    </div>
</div>
<br><br>

{% endblock %}