{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/amenities.css' %}">

{% block content %}
<!-- Header -->
<div class="container-fluid p-0">
    <div style="background-color: #0078A0; padding: 2rem;">
        <h2 class="marina-name text-center">Marina Amenities</h2>
    </div>
</div>

<br>
<div class="container text-center">
    <h1>Here To Serve You</h1>
    <p>The Harborage at Ashley Marina is located on the downtown Charleston, SC peninsula within walking distance to nearby historical sites, restaurants, and shops. It is the perfect location to dock your vessel whether temporarily or long-term. The Harborage at Ashley Marina accommodates vessels up to 120 feet in length with approximately 230 slips conveniently located north of the James Island Expressway on the Ashley River offering shelter from strong winds and seas. So, whether an investor, owner, transient, boat or yacht enthusiast you will be made to feel at home here at The Harborage at Ashley Marina!</p>
</div>
<br>

<div id="splitCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/SecurityGate.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Gated Access</h2>
                    <p>Secure entry to the marina with private gated access.</p>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/bathroom.jpg' %}" style="object-fit:contain;">
                </div>
                <div class="carousel-text">
                    <h2>Bathroom Facilities</h2>
                    <p>The Harborage at Ashley Marina provides 24hr access to bathrooms for ladies and gentlemen with restrooms and large showers.  An additional restroom can be found in the laundry facility on the first floor.</p>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/Laundry.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Laundry Facilities</h2>
                    <p>Ashley Marina has two coin operated washers and dryers available for owner, tenant, and transient use with 24hr access.  Change can be provided at the T dock office from 8-6pm.</p>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/wifi.png' %}">
                </div>
                <div class="carousel-text">
                    <h2>Free Wifi</h2>
                    <p>Every slip can access fast, reliable wifi at no additional cost, thanks to On-Spot Wifi and their access points installed throughout the Harborage at Ashley Marina.  *Please note that onSpot restricts devices that repeat the wifi signal.</p>
                </div>
            </div>
        </div>

        <!-- Slide 5 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/utilities.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Utilities</h2>
                    <p>Water and shore-power are provided at each slip.  Costs are included in the quarterly regime fee.  Transients are assessed a cord fee.  A single 30-amp and 50-amp hook-up are available at most slips.  A limited number of 100-amp single phase and 100-amp 3-phase 208v outlets are available on T-dock.</p>
                </div>
            </div>
        </div>

        <!-- Slide 6 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/parking.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Parking</h2>
                    <p>Each slip is granted one parking permit.  There are a limited number of guest parking spaces limited to 24hrs. Parking is first come first serve. Off-site paid parking is available at the WestEdge Publix garage and Safe Harbour Charleston City Marina.</p>
                </div>
            </div>
        </div>

            <!-- Slide 7 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/fuel.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Marine Fuel</h2>
                    <p>We offer two high speed off-road diesel pumps, with flow rates up to 40 gpm, available on a  portion of T-dock. Two non-ethanol 89-octane Marine Gasoline pumps are located on C-dock at the end of the fixed walkway. Fuel pumps shut down 30-minutes before office hours.</p>
                </div>
            </div>
        </div>

        <!-- Slide 8 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/fishCleaningStation.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Fish Cleaning Station</h2>
                    <p>A fish cleaning station is available on C dock.</p>
                </div>
            </div>
        </div>

        <!-- Slide 9 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/pumpOut.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Free Pump Out Station</h2>
                    <p>Thanks to DNR's clean water initiatives, the Harborage at Ashley Marina is proud to provide free pump-outs of waste tanks.  Waste can be pumped 8am-5:30pm on the T-dock.  A mobile pump-out boat is available on Thursday morning. Scheduling for this is done at  Maintenance@myashleymarina.com</p>
                </div>
            </div>
        </div>

        <!-- Slide 10 -->
        <div class="carousel-item">
            <div class="carousel-slide-wrapper">
                <div class="carousel-image">
                    <img src="{% static 'home/images/amenities/dockCarts.jpg' %}">
                </div>
                <div class="carousel-text">
                    <h2>Dock Carts</h2>
                    <p>Dock carts are available for slip-owners, tenants, and transients to use for those big provisioning runs or hauling maintenance items to slips from the parking area.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#splitCarousel" data-bs-slide="prev" style="top: 40%;height: 60px;">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#splitCarousel" data-bs-slide="next" style="top: 40%;height: 60px;">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
<br><br>

{% endblock %}