{% extends "base.html" %}

{% block title %}Event Calendar{% endblock %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row" style="justify-content:center; text-align: center;">
        <h1>Event Calendar</h1>
        <iframe src="https://calendar.google.com/calendar/embed?src=a83ffa310fb2c04dca533338f46ad09d6cb95d9c0cbe70200cea7766270a4a57%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no"></iframe>

    </div>
</div>

{% endblock %}