{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% block content %}

<div class="container text-center">
    <br>
    <h2 class="home-text" style="color: black !important;">We are now accepting annual leases!</h2>
    <h4 class="home-subtext" style="color: black !important;">Please email Dockmaster@myashleymarina.com for more information!</h4>
</div>
<div class="container-fluid my-5">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-3 mb-4 mb-md-0">
            <h3 class="home-text">Transient Reservations</h3>
            <p class="home-subtext">Click below to reserve!</p>
            <a href="{% url 'dockwa' %}" class="btn btn-marina">Transient Reservations</a>
        </div>

        <!-- wrap image in a col -->
        <div class="col-md-6 mb-4 mb-md-0">
            <img src="{% static 'home/images/categories/sunset.jpeg' %}"
                alt="Marina sunset"
                class="img-fluid marina-photo rounded shadow-sm mx-auto d-block"
                style="max-width:100%; height:auto;">
        </div>

        <div class="col-md-3">
            <h3 class="home-text">Hotel Room Wet Slip Combo</h3>
            <p class="home-subtext">Click below to reserve!</p>
            <a href="{% url 'marriott' %}" class="btn btn-marina">Wet Slip &amp; Hotel Room</a>
        </div>
    </div>
</div>

<div class="text-center d-none d-md-block d-lg-none">

    <div class="amenities">
        <h2 class="marina-name">Menu Categories</h2>  
        <hr>
        <div class="amenities-box"> 

            <a href="{% url 'cal' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Event Calendar</div>

                    <img src="{% static 'home/images/categories/calendar.jpg' %}" alt="calendar">
                </div>
            </a>


            <a href="{% url 'amenities' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Marina Amenities</div>

                    <img src="{% static 'home/images/categories/amenities2.jpeg' %}" alt="amenities">
                </div>
            </a>

            <a href="{% url 'dockwa' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Dockwa</div>

                    <img src="{% static 'home/images/categories/dockwa2.jpeg' %}" alt="dockwa">
                </div>
            </a>


            <a href="{% url 'marriott' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Marriott Rates</div>

                    <img src="{% static 'home/images/categories/marriott.jpg' %}" alt="marriot">
                </div>
            </a>

            <a href="{% url 'FAQ' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Frequently Asked Questions</div>

                    <img src="{% static 'home/images/categories/faqs.jpeg' %}" alt="faqs">
                </div>
            </a>
        
            <a href="{% url 'contact' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Contact Us</div>

                    <img src="{% static 'home/images/categories/contact-us2.jpeg' %}" alt="contact">
                </div>
            </a>


            <a href="{% url 'listings' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Current Listings</div>

                    <img src="{% static 'home/images/categories/listings.jpeg' %}" alt="listings">
                </div>
            </a>

            <a href="{% url 'owners' %}">
                <div class="grid-item image-item">
                    <div class="caption-top">Owners Forum</div>

                    <img src="{% static 'home/images/categories/owners3.jpeg' %}" alt="owners">
                </div>
            </a>
        
        </div>
    </div>
</div>

<div class="home text-center d-none d-lg-block">

    {% for category in categories %}
        {% if category.name == 'Dockwa' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="dockwa-button">Enter Here</h2></a>
            <div class="dockwa-overlay">
                <h3 class="dockwa-heading category-name" style="font-size: 3.5rem !important; color: black !important; text-shadow: none !important;">Reserve Your Slip Instantly</h3>
                <p class="dockwa-lead category-name" style="font-size: 2.5rem !important; color: black !important; text-shadow: none !important;">
                    Book via Dockwa—no phone calls, no waiting.
                </p>
            </div>
        </section>


        {% elif category.name == 'Event Calendar' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="calendar-button">Enter Here</h2></a>
            <div class="calendar-overlay">
                <h3 class="dockwa-heading calendar-name" style="color: rgb(152, 199, 225); top: 25% !important;">Calendar Of Current Events</h3>
            </div>
        </section>

        {% elif category.name == 'Current Listings' %}

        <section class="category-section" style="background-image: url('{{ category.image_url }}');">
            <a href="{{ category.link }}"> <h2 class="listings-button">Enter Here</h2></a>
            <div class="listings-overlay">
                <h3 class="dockwa-heading calendar-name" style="font-size: 4rem;">Current Listings - Slips For Sale</h3>

            </div>
        </section>
        {% elif category.name == 'Owners Forum' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}');">
            <a href="{{ category.link }}"> <h2 class="owners-button">Enter Here</h2></a>
            <h3 class="owners-heading-left category-name">Owners</h3>
            <h3 class="owners-heading-right category-name">Forum</h3>

        </section>

        {% elif category.name == 'Marriott Rates' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
                
            <div class="marriott-overlay">
                <h3 class="marriott-heading category-name" style="color: white; font-size: 4rem !important;">Charleston Marriott Waterfront</h3>
            </div>
   
            <a href="{{ category.link }}"> <h2 class="dockwa-button">For Rates Click Here</h2></a>
        </section>

        {% elif category.name == 'Marina Amenities' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="amenities-button">Enter Here</h2></a>
            <div class="amenities-overlay">
                <h3 class="dockwa-heading category-name" style="text-shadow: 2px 2px 6px rgba(0, 0, 0, 200); font-size: 3.8rem !important;">Come Check Out Our Amenities!</h3>
            </div>
        </section>

        {% elif category.name == 'FAQs' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="faq-subtitle">Enter Here</h2></a>
        </section>

        {% elif category.name == 'Contact Us' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="contact-subtitle">Enter Here</h2></a>
        </section>
        {% else %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="category-subtitle">Enter Here</h2></a>
        </section>
        {% endif %}
        <section class="white-logo-bar text-center">
            <a href="{{ category.link }}">
                <img src="{% static 'images/logos/Ashley_Logo_edited.png' %}" alt="Ashley Marina Logo" class="white-bar-logo">
            </a>
            <br>
        </section>

        <section style="background-color:rgb(152, 199, 225); width: 100%;height: 100px;"></section>

    {% endfor %} 
</div>

<div class="container-fluid my-0 py-4 text-center">
    <h1 class="home-text" style="color:black !important;">Creating a Community on The Water</h1>
    <br>
    <p class='home-subtext' style="line-height: 1.8; margin-bottom: 1.5rem; color: black !important;">The Harborage at Ashley Marina Condominium Association was formed as dockominium in 2006 and is the Marina slip-owners association that governs Ashley Marina's commercial and residential use.  The marina is governed by the Master Deed and By-Laws set forth in the Articles of Incorporation for the Harborage at Ashley Marina Condominium Association and the Rules and Regulations that are amended from time to time by marina management and Board of Directors.</p>
    <p class="home-subtext" style="line-height: 1.8; margin-bottom: 1.5rem; color: black !important;">Current Board of Directors include Dawes Cooke Jr,  Randy Baker,  David Sutton,  Kevin Smith,  Jon Mazzoli</p>
    <p class="home-subtext" style="line-height: 1.8; margin-bottom: 1.5rem; color: black !important;">The Harborage at Ashley Marina is one of the premier marina facilities with slips available for individual ownership in the Charleston Area.  Membership in the association is available through slip ownership and does require ongoing financial contribution via quarterly dues as determined by the quarterly assessment.  While we invite any boat enthusiast to dock with us, residential privileges are limited.  As a reminder, all vessels entering the marina must keep a minimum of $500k liability on their vessel and include the Marina added as an additional insured, and all owners and tenants must abide by the Rules & Regulations.  For slip purchase availability, check out the Listing page.</p>
</div>

<div class="text-center d-block d-md-none">
    <h1 class="home-text">Menu Catgeories</h1>

    <h1 class="home-subtext">Click below to view our categories!</h1>
    <a href="#top">
        <button class="btn btn-marina" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarToggleSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Click Here to View our Menu!</button>
    </a>

</div>

{% endblock %}



