

{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<script src="{% static 'yourapp/js/bg-rotator.js' %}" defer></script>

{% block content %}

<div class="container text-center">
    <br>
    <h2 class="home-text" style="color: black !important;">We are now accepting annual leases!</h2>
    <h4 class="home-subtext" style="color: black !important;">Please email Dockmaster@myashleymarina.com for more information!</h4>
</div>
<div class="container-fluid my-5">
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-3 mb-4 mb-md-0">
            <h3 class="home-text">Transient Reservations</h3>
            <p class="home-subtext">Click below to reserve!</p>
            <a href="{% url 'dockwa' %}" class="btn btn-marina">Transient Reservations</a>
        </div>

        <img src="{% static 'home/images/categories/sunset.jpg' %}" alt="Marina sunset" class="img-fluid marina-photo rounded shadow-sm">

        <div class="col-md-3">
            <h3 class="home-text">Hotel Room Wet Slip Combo</h3>
            <p class="home-subtext">Click below to reserve!</p>
            <a href="{% url 'marriott' %}" class="btn btn-marina">Wet Slip &amp; Hotel Room</a>
        </div>
    </div>
</div>
<div class="home text-center">

    {% for category in categories %}
        {% if category.name == 'Dockwa' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="dockwa-button">Enter Here</h2></a>
            <div class="dockwa-overlay">
                <h3 class="dockwa-heading">Reserve Your Slip Instantly</h3>
                <p class="dockwa-lead">
                    Book via Dockwa—no phone calls, no waiting.
                </p>
            </div>
        </section>
        {% elif category.name == 'Owners Forum' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="owners-title">{{ category.name }}</h2></a>

            <a href="{{ category.link }}"> <h2 class="dockwa-button">Enter Here</h2></a>
        </section>

        {% elif category.name == 'Marina Amenities' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="dockwa-button">Enter Here</h2></a>
            <div class="dockwa-overlay">
                <h3 class="dockwa-heading">Come Check Out Our Amenities!</h3>
                <p class="dockwa-lead">
                    Book via Dockwa—no phone calls, no waiting.
                </p>
            </div>
        </section>
        {% else %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="category-title">{{ category.name }}</h2></a>

            <a href="{{ category.link }}"> <h2 class="category-subtitle">Enter Here</h2></a>
        </section>
        {% endif %}
        <section class="white-logo-bar text-center">
            <a href="{{ category.link }}">
                <img src="{% static 'images/logos/Ashley_Logo_edited.png' %}" alt="Ashley Marina Logo" class="white-bar-logo">
            </a>
            <br>
            <a href="{{ category.link }}" class="white-bar-link">{{ category.name }}</a>
        </section>

        <section style="background-color:rgb(152, 199, 225); width: 100%;height: 100px;"></section>

    {% endfor %} 
</div>

</div>

<div class="container my-0 py-4 text-center">
    <h1>Creating a Community on The Water</h1>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">The Harborage at Ashley Marina Condominium Association was formed as dockominium in 2006 and is the Marina slip-owners association that governs Ashley Marina's commercial and residential use.  The marina is governed by the Master Deed and By-Laws set forth in the Articles of Incorporation for the Harborage at Ashley Marina Condominium Association and the Rules and Regulations that are amended from time to time by marina management and Board of Directors.</p>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">Current Board of Directors include D. Cooke Jr, R. Baker, D. Sutton, K. Smith, J. Mazzoli</p>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">The Harborage at Ashley Marina is one of the premier marina facilities with slips available for individual ownership in the Charleston Area.  Membership in the association is available through slip ownership and does require ongoing financial contribution via quarterly dues as determined by the quarterly assessment.  While we invite any boat enthusiast to dock with us, residential privileges are limited.  As a reminder, all vessels entering the marina must keep a minimum of $500k liability on their vessel and include the Marina added as an additional insured, and all owners and tenants must abide by the Rules & Regulations.  For slip purchase availability, check out the Listing page.</p>
</div>

{% endblock %}



