{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<script src="{% static 'yourapp/js/bg-rotator.js' %}" defer></script>

{% block content %}

<div class="home text-center">
    <img src="{% static 'home/images/categories/sunset.heic' %}" alt="sunset">

    {% for category in categories %}
        {% if category.name == "Dockwa" %}
        <!-- Full-width wrapper sets the background -->
        <section style="background-color:rgb(152, 199, 225); width: 100%;">
        <!-- Bootstrap container keeps text/content centered -->
            <div class="container py-4 text-center">
                <h1 class="home-text">We Are Now Accepting Annual Leases!</h1>
                <br>
                <h3 class="home-subtext">Please email Dockmaster@myashleymarina.com for more information</h3>
                <br><br>
                <div class="row">
                    <div class="col-md-6 mb-4 text-center">
                        <h3 class="home-text">Transient Reservations</h3>
                        <div class="home-subtext">Short-term dockage available. Reserve your spot Today!</div>
                        <a href="{% url 'dockwa' %}" class="link-btn">Dockwa</a>
                    </div>
                    <div class="col-md-6 mb-4 text-center">
                        <h3 class="home-text">Boat Slip Hotel Room Combo</h3>
                        <div class="home-subtext">For more information on our partnership with the Charleston Marriott, click here!</div>
                        <a href="{% url 'marriott' %}" class="link-btn">Marriott Rates</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="category-title">{{ category.name }}</h2></a>

        </section>


        {% else %}
        
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <a href="{{ category.link }}"> <h2 class="category-title">{{ category.name }}</h2></a>
        </section>
        <br><hr>
        {% endif %}
        <section class="white-logo-bar text-center">
            <a href="{{ category.link }}">
                <img src="{% static 'images/logos/Ashley_Logo_edited.png' %}" alt="Ashley Marina Logo" class="white-bar-logo">
            </a>
            <br>
            <a href="{{ category.link }}" class="white-bar-link">Click Here</a>
        </section>

        <div class="section-spacer"></div>

    {% endfor %} 
</div>
<!-- <div class="home">    
    {% for category in categories %}
        {% if category.name ==  'Marina Amenities' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">

                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>


            </a>
        </section>
        {% elif  category.name == 'Dockwa' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'Marriott Rates' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'FAQ' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'Event Calendar' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'Contact'%}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'Listings' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>

        {% elif  category.name == 'owners' %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>
        {% else %}
        <section class="category-section" style="background-image: url('{{ category.image_url }}')">
            <h2 class="category-title">{{ category.name }}</h2>
            <a href="{{ category.link }}">
    
                <img src="{% static 'images/logos/ashley_logo_light.png' %}" type="image/png" style="width: 300px;">
                <h5 class="category-link" style="left: 50%; bottom: 25%;">Click Here</h5>
    
    
            </a>
        </section>
        {% endif %}

    {% endfor %} -->
</div>

<div class="container my-0 py-4 text-center">
    <h1>Creating a Community on The Water</h1>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">The Harborage at Ashley Marina Condominium Association was formed as dockominium in 2006 and is the Marina slip-owners association that governs Ashley Marina's commercial and residential use.  The marina is governed by the Master Deed and By-Laws set forth in the Articles of Incorporation for the Harborage at Ashley Marina Condominium Association and the Rules and Regulations that are amended from time to time by marina management and Board of Directors.</p>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">Current Board of Directors include D. Cooke Jr, R. Baker, D. Sutton, K. Smith, J. Mazzoli</p>
    <p style="line-height: 1.8; margin-bottom: 1.5rem;">The Harborage at Ashley Marina is one of the premier marina facilities with slips available for individual ownership in the Charleston Area.  Membership in the association is available through slip ownership and does require ongoing financial contribution via quarterly dues as determined by the quarterly assessment.  While we invite any boat enthusiast to dock with us, residential privileges are limited.  As a reminder, all vessels entering the marina must keep a minimum of $500k liability on their vessel and include the Marina added as an additional insured, and all owners and tenants must abide by the Rules & Regulations.  For slip purchase availability, check out the Listing page.</p>
</div>

{% endblock %}

