{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<div class="container py-5 text-center">
    <h1 class="mb-4" style="text-decoration: underline;">Privacy Policy</h1>
</div>

<div class="container pb-5">

    <p>At The Harborage at Ashley Marina, we are committed to protecting your privacy. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information when you use our website.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">Interpretations and Definitions</h4>
    <p><strong>Interpretations</strong></p>
    <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>

    <p><strong>Definitions</strong></p>
    <ul>
        <li><strong>Company</strong> (referred to as either "the Company," "We," "Us," or "Our" in this Agreement) refers to The Harborage at Ashley Marina.</li>
        <li><strong>Cookies</strong> are small files that are placed on your computer, mobile device, or any other device by a website, containing details of your browsing history on that website among its many uses.</li>
        <li><strong>Website</strong> refers to The Harborage at Ashley Marina, accessible from <a href="https://www.harborageatashleymarina.com" target="_blank">https://www.harborageatashleymarina.com</a>.</li>
        <li><strong>You</strong> means the individual accessing or using the Website, or the company, or other legal entity on behalf of which such individual is accessing or using the Website, as applicable.</li>
    </ul>

    <p>This privacy notice for The Harborage at Ashley Marina ("we," "us," or "our") describes how and why we might collect, store, use, and/or share ("process") your information when you use our services ("Services"), such as when you:</p>

    <ul>
        <li>Visit our website at <a href="https://www.harborageatashleymarina.com" target="_blank">https://www.harborageatashleymarina.com</a>, or any website of ours that links to this privacy notice.</li>
        <li>Engage with us in other related ways, including any sales, marketing, or events.</li>
    </ul>

    <p><strong>Questions or concerns?</strong> Reading this privacy notice will help you understand your privacy rights and choices. If you do not agree with our policies and practices, please do not use our Services. If you still have any questions or concerns, please contact us at <a href="mailto:dockmaster@myashleymarina.com">dockmaster@myashleymarina.com</a>.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">1. What Information Do We Collect?</h4>
    <p><strong>Personal Information You Disclose to Us:</strong></p>
    <p>We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services, or otherwise when you contact us.</p>

    <p><strong>Personal Information Provided by You:</strong> The personal information we collect may include the following:</p>
    <ul>
        <li>Names</li>
        <li>Phone numbers</li>
        <li>Email addresses</li>
    </ul>

    <p><strong>Sensitive Information:</strong> We do not process sensitive information.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">2. How Do We Process Your Information?</h4>
    <p>We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</p>
    <ul>
        <li>To respond to user inquiries and offer support to users.</li>
    </ul>

    <h4 style="text-decoration: underline; font-weight: bolder;">3. When and With Whom Do We Share Your Personal Information?</h4>
    <p>We do not share your information with any third parties.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">4. How Long Do We Keep Your Information?</h4>
    <p>We will only keep your personal information for as long as necessary for the purposes set out in this privacy notice unless a longer retention period is required or permitted by law.</p>

    <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information. If this is not possible (for example, because your information is stored in backups), we will securely store and isolate it from further processing until deletion is possible.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">5. How Do We Keep Your Information Safe?</h4>
    <p>We have implemented appropriate and reasonable technical and organizational security measures to protect your personal information. However, no system can guarantee complete security, so we cannot promise or guarantee that unauthorized third parties will not be able to defeat our security.</p>

    <p>Transmission of personal information is at your own risk. You should only access the Services within a secure environment.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">6. What Are Your Privacy Rights?</h4>
    <p>Depending on your location, you may have certain rights regarding your personal information, such as the right to request access to, correction of, or deletion of your personal data.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">7. Do We Make Updates to This Notice?</h4>
    <p>Yes, we will update this privacy notice as necessary to remain compliant with relevant laws. The updated version will be indicated by a revised date and will be effective once accessible.</p>

    <h4 style="text-decoration: underline; font-weight: bolder;">8. How Can You Contact Us About This Notice?</h4>
    <p>If you have questions or comments about this notice, you may contact us by email at <a href="mailto:dockmaster@myashleymarina.com">dockmaster@myashleymarina.com</a> or by phone at (843) 284-9942.</p>
</div>
{% endblock %}
