{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->

<div class="container-fluid p-0">
    <div style="background-color: #0078A0; padding: 2rem;">
        <h2 class="marina-name text-center">Available Wet Slips For Sale And Lease</h2>
    </div>
</div>

<section class="container my-5">
  <h4 class="marina-name text-center" style="color: black !important;">Available Rental Slips</h4>
  <h6 class="marina-subtitle text-center" style="color: black !important;">Please Direct All Rental Inquiries to the Dock Master at +1 (843) 490-3839</h6>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover shadow-sm" style="font-family: Arial, sans-serif;">
      <thead class="table-transparent">
        <tr>
          <th scope="col">Slip ID</th>
          <th scope="col">Dimensions (ft)</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>B-9</td><td>18 x 50</td></tr>
        <tr><td>D-32</td><td>17.5 x 40</td></tr>
        <tr><td>E-5</td><td>17.5 x 45</td></tr>
        <tr><td>E-7</td><td>17.5 x 45</td></tr>
        <tr><td>E-13</td><td>17.5 x 45</td></tr>
        <tr><td>E-24</td><td>17.5 x 50</td></tr>
        <tr><td>F-4</td><td>15.5 x 50</td></tr>
        <tr><td>F-6</td><td>18 x 50</td></tr>
        <tr><td>F-18</td><td>13.5 x 45</td></tr>
        <tr><td>F-20</td><td>18 x 45</td></tr>
        <tr><td>F-21</td><td>18 x 45</td></tr>
        <tr><td>F-27</td><td>18 x 45</td></tr>
        <tr><td>G-4</td><td>18 x 50</td></tr>
        <tr><td>G-23</td><td>18 x 50</td></tr>
        <tr><td>H-1</td><td>18 x 50</td></tr>
        <tr><td>H-7</td><td>18 x 55</td></tr>
        <tr><td>H-12</td><td>18 x 55</td></tr>
        <tr><td>I-20</td><td>15 x 40</td></tr>
        <tr><td>T-11</td><td>18 x 40</td></tr>
        <tr><td>T-7</td><td>18 x 60</td></tr>
      </tbody>
    </table>
  </div>
</section>


<div class="container-fluid marina-name text-center" style="color: black !important;">
    <h2>Feel Free to Scroll Through Our Available Slips For Sale!</h2>
    <h3>Click On A Listing For More Information!</h3>

</div>

<div class="container mt-4">
    <div class="ratio ratio-16x9">
        <iframe
            src="https://homesforsalelistings.net/33-lockwood-iframe"
            width="100%"
            height="550"
            frameborder="0"
            style="display:block;"
            allowfullscreen
        ></iframe>
        <br>
    </div>
</div>

{% endblock %}
