{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
<div class="container-fluid p-0">
    <div style="background-color: #0078A0; padding: 2rem;">
        <h2 class="marina-name text-center">Available Wet Slips</h2>
    </div>
</div>

<div class="container text-center">
    <h2>Feel Free to Scroll Through Our Available Listings!</h2>
    <h3>Click On One Listing For More Information!</h3>

</div>

<div class="container mt-4">
    <div class="ratio ratio-16x9">
        <iframe
            src="https://homesforsalelistings.net/33-lockwood-iframe"
            width="100%"
            height="550"
            frameborder="0"
            style="display:block;"
            allowfullscreen
        ></iframe>
        <br>
    </div>
</div>

{% endblock %}
