{% extends 'base.html' %}
{% block content %}
<!-- Header -->
<div class="container-fluid p-0">
    <div style="background-color: #0078A0; padding: 2rem;">
        <h2 class="text-white text-center">Available Wet Slips</h2>
    </div>
</div>

<div class="container py-4">
    {% if user.is_superuser %}
        <div class="text-center mb-4">
            <a href="{% url 'new_listing' %}" class="btn btn-outline-primary">+ Add New Listing</a>
        </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for listing in listings %}
        <div class="col mb-4">
            <div class="card shadow h-100">
            {% if listing.photo %}
                <img src="{{ listing.photo.url }}" class="card-img-top" alt="{{ listing.title }}">
            {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="text-muted">{{ listing.price }}</p>
                    <a href="{% url 'listing_detail' listing.pk %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No listings available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
